body {
  text-align: center;
}
.jumbotron{
  background-color: #d6f7fa;
}

h1 {
  font-size: 4rem;
  margin: 3% 0 1% 0;
}

h2 {
  font-size: 1rem;
}
.text-container{
  padding: 25px 200px;
}
form {
  padding: 1%;
  border: none;
}

button {
  color: #fff;
  font-size: 1.2rem;
  padding: 1%;
  background-color: #79C2D0;
  border-radius: 10px;
  border: 2px solid #fff;
  width: 200px;
}

button:hover {
  background-color: #fff;
  color: #79C2D0;
  border: 2px solid #000;
}
.serch-input {
  font-size: 1rem;
  padding: 1%;
  border-radius: 10px;
  border: 2px solid #000;
  width: 200px;
  margin-bottom: 2%;
}
.selected {
  border: 2px solid #000;
}

fieldset {
  border: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

img {
  width: 300px;
  margin: 10px;
  border-radius: 5px;
}
